form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    >textarea {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 14px;
        resize: vertical;
      }
    
    >button {
        align-self: flex-end;
        padding: 10px ;
        background-color: #002c9a;
        color: #fff;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        
        &:disabled {
          background-color: #002c9a; 
          color: #777777; 
          cursor: not-allowed; 
          opacity: 0.7; 
        }
      }
    
    >input {
      border-radius: 8px;
      padding: 5px;
      margin-bottom: 2px;
    }
}

