
.wrapper{
  display: block;
  justify-content: center;
  align-items: center;
  height: 100%;
  max-width: 800px;
  margin: 0 auto;
}
.articleDetailsPage {
  max-width: 800px;
  margin: 0 auto;

  > h2 {
    font-size: 48px;
    margin: 50px 0 10px;
    color: #002c9a;
  }

  > p {
    font-size: 22px;
    text-align: justify;
    line-height: 1.6;
  }
}


.comment-section {
  margin-top: 20px;

  .comment-box {
    margin-bottom: 20px;

    
  }

  .comments-list {
    display: flex;
    flex-direction: column;
  }
}
